.products-container {
    display: flex;
    margin: 15px 0 0 0;
}

.products-list-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 85%;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (max-width: 600px) {
    .products-container {
        flex-direction: column;
        align-items: center;
    }
}

