.product-item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    padding: 10px;
}

.product-item-image {
    position: relative;
    overflow: hidden;
}

.product-item-image img {
    max-width: 230px;
    max-height: 330px;
    cursor: zoom-in;
    transition-duration: 0.8s;
}

.product-item-image img:hover {
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.free-shipping {
    position: absolute;
    top: 0;
    right: 0;
    color: #ececec;
    padding: 8px;
    font-size: 10px;
    background: #1b1a20;
    cursor: default;
}

.product-item-name {
    position: relative;
    font-size: 16px;
    margin: 20px 0;
}

.product-item-price {
    font-size: 22px;
    font-weight: bold;
}

.product-item-installments {
    padding-top: 5px;
    font-size: 16px;
    color: #8C8B8B;
}

.product-item-name:before {
    content: "";
    width: 20px;
    height: 2px;
    background-color: #eabf00;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
}

.product-item-add-to-cart-wrapper {
    position: relative;
    background: #0c0b10;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}

.add-to-cart {
    padding: 15px 50px;
    background: #0c0b10;
    color: #ececec;
    font-size: 16px;
    width: 180px;
}

.add-to-cart:hover {
    transition-duration: 0.4s;
    background: #cece11;
}
