.product-size-item {
    display: inline-block;
    margin-bottom: 10px;
}

.sorting-products-by-size-label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 35px;
    height: 35px;
    font-size: .8em;
    margin-bottom: 8px;
    margin-right: 8px;
    border-radius: 50%;
    line-height: 35px;
    text-align: center;
}

.sorting-products-by-size-checkbox:checked ~ .size {
    background: #1b1a20;
    color: #ececec;
}

.size {
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    font-size: 1em;
    border-radius: 50%;
    line-height: 35px;
    text-align: center;
    background: #ececec;
    border: 1px solid transparent;
}

.size:hover {
    border: 1px solid #1b1a20;
}